<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet", href="stylesheets/style.css">
    </head>
    <body>
        <div class="character">
        <h1>Customize your character!</h1>
        <form method="POST" action="">
            Name: <input type="string" name="name"> <br>
            Gender: <select id="gender" name="gender"> 
                        <option value="Girl">Girl</option> 
                        <option value="Boy">Boy</option> 
                        <option value="Kid">Kid</option>
                    </select> <br>
            Age: <input type="number" name="age"> <br>
            <input type="submit" value="enter">
        </form>

        </div>
    </body>
</html>