<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet", href="stylesheets/style.css">
    </head>
<body>
    <div class="stories">
        <h1>My Stories!</h1>
        {{#each stories}}
            <p></p>Your character was called, {{name}}.
            They decides to go on a walk alone. Suddenly, a apple falls on their head.
            {{scene1}}
            {{scene2}}</p>
        {{/each}}
        
    </table>
    </div>
    
</body>
</html>