<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet", href="stylesheets/style.css">
    </head>
    <body>
        <div class="scene2-1">
            <img class="bite" src="images/bite.png" width="300px" height="349px">
           <h2>The apple is delicious. They gain super human strength.</h2>
            <h1>Great Job! You win!</h1>

            <a href="/final-story">Check out your final story!</a>
        </div>
    </body>
</html>