<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet", href="stylesheets/style.css">
    </head>
    <body>
        <div class="scene2-2">
            <p>Hover over the glove to interact!</p>
            <img class="glove" src="images/glove.png" width="300" height="425">
            
           <h2>They throw the apple at a professional boxer. They beat you up!</h2>
            <h1>BOOOOOO! You lose!</h1>

            <a href="/final-story">Check out your final story!</a>

        </div>
    </body>
</html>