<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet", href="stylesheets/style.css">
    </head>
    <body>
        <div class="welcome">
            <img class="finger" src="images/finger.jpg" width="150px" height="150px">
            <img class="straw" src="images/strawberry.png" width="150px" height="150px">
            <h1>Welcome to Your Story!</h1>
            <p>Choose what you want your character to do and find out your fate!</p>
            <form method="POST" action="">
            <input type="submit" value="Play!">
        </form>
        </div>
    </body>
</html>